# Dependencies
node_modules/

# Build outputs
dist/
build/
out/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment files
.env
.env.*

# Coverage
coverage/

# Cache
.cache/
.eslintcache
.parcel-cache/

# OS files
.DS_Store
Thumbs.db

*.yml
*.yaml